@media (max-width: 1200px) {

    #block .block-_svg-_img {
        width: 75%;
    }

    #block .block-_hero-_dom-_dna-_lun {
        left: 31%;
        top: 22%;
    }

    #block .block-_hero-_mosk-_svg {
        left: 39%;
    }

    #section .section-_block-_ideal h3 {
        top: 117%;

        left: 512px;

    }

    #section .section-_block-_propan h4 {
        width: 215px;
        top: 905px;
        left: 205px;
    }

    #section .section-_block-_ideal-_propana {

        top: 772px;
        left: 521px;
    }

    #section .section-_block-_ideal-_butana {
        top: 773px;
        left: 653px;
    }

    #section .section-_block-_butan h4 {
        width: 215px;
        top: 912px;
        left: 875px;
    }
    #section .section-_block-_butan-_button {

        margin-left: -297px;
    }

    #section .section-_block-_butan h1 {

        margin-left: -296px;

    }
    #section .section-_block-_butan-_svg {

        top: 963px;
    }

    #section .section h1 {

        padding: 38px 0px;

    }

    #section .section-_text h2 {
        padding: 35px 210px;
        font-size: 35px;


    }
    #section .section-_block-_butan h6 {
        margin-left: -292px;

    }
    #otzyv .swiper-slide h2 {

        margin-left: -1px;
        margin-top: -201px;
    }
    #otzyv .swiper-slide h3 {
        margin-top: -140px;
    }
    #otzyv .swiper-slide h5 {
        margin-left: -128px;

    }
    #voprosy .voprosy-_est-_group {

        top: 729%;
    }
    #voprosy .voprosy-_est h4 {
        margin-left: -39px;
    }
    #rabota .rabota {
        width: 80%;

    }
    #voprosy .voprosy-_vy h4 {
        margin-left: -41px;
    }
    #voprosy .voprosy-_group-_img {
        position: absolute;
        top: 722.6%;
        left: 20%;
    }
    #voprosy .voprosy-_group h4 {
        margin-left: -40px;
    }
    #voprosy .voprosy-_svg-_alt {
        top: 712.68%;
    }
    #voprosy .voprosy-_group p {
        padding: 0px 14%;
        margin-left: 36px;
    }
    #voprosy .voprosy-_est-_group {
        top: 739%;
    }
    #voprosy .voprosy-_svg h4 {
        margin-left: -40px;
    }
    #voprosy .voprosy-_li h4 {
        margin-left: -41px;
    }
    #voprosy .voprosy-_li-_img {
        top: 748.81%;
    }
    #voprosy .voprosy-_vy-_li {
        top: 703.5%;
    }
    #atlant .email-_svg-_img {
        margin-left: -34%;
    }
    #atlant .email-_svg button {
        top: 817%;
        left: 52%;

    }
    #atlant .button {
        width: 84%;

        margin-left: 12%;

    }
}
@media (max-width: 1120px) {
    #section .section-_text h2 {
        padding: 17px 156px;
    }

    #section .section-_block-_ideal h3 {
        top: 113%;
        left: 472px;
    }

    #section .section-_block-_ideal-_propana {
        top: 763px;
        left: 487px;
    }

    #section .section-_block-_ideal-_butana {
        top: 763px;
        left: 609px;
    }

    #section .section-_block-_propan h6 {
        margin-top: 29px;
        padding: 39px 98px;
    }

    #section .section-_block-_propan h4 {
        top: 837px;
        left: 189px;
    }
    #section .section-_block-_propan h1 {

        margin-left: 103px;

    }
    #section .section-_block-_propan-_button {

        margin-left: 95px;
    }
    #section .section-_block-_butan h1 {
        margin-left: -249px;
        margin-top: -35px;
    }
    #section .section-_block-_butan h6 {
        margin-left: -215px;
    }
    #section .section-_block-_butan h1 {
        margin-left: -220px;
        margin-top: -35px;
    }
    #section .section-_block-_butan-_button {
        margin-left: -218px;

    }
    #section .section-_block-_butan h6 {

        margin-top: 23px;

    }
    #section .section-_block-_butan h4 {
        top: 844px;
        left: 872px;
    }
    #section .section-_block-_butan-_svg {
        top: 906px;
    }
    #voprosy .voprosy-_li-_img {
        top: 736.81%;
    }
    #voprosy .voprosy-_est-_group {
        top: 726%;
    }
    #voprosy .voprosy-_group-_img {
        top: 710.6%;
    }

    #voprosy .voprosy-_vy-_li {
        top: 690.5%;
    }
    #voprosy .voprosy-_svg-_alt {
        top: 701.68%;
    }
}
@media (max-width: 1024px) {
    #block .block-_svg-_img {
        width: 61%;
    }
    #block .block-_svg-_img {
        padding: 110px 0;

    }
    #section .section-_text h2 {
        padding: 14px 128px;
    }
    #section .section-_block-_butan h1 {
        margin-left: -154px;
    }
    #section .section-_block-_butan h4 {
        left: 830px;
    }
    #section .section-_block-_butan h6 {
        margin-left: -156px;
    }
    #section .section-_block-_butan-_button {
        margin-left: -161px;
    }
    #otzyv .swiper-slide h2 {
        margin-left: 3px;
        margin-top: -168px;
    }
    #otzyv h2 {
        font-size: 28px;

    }
    #otzyv .swiper-slide {

        font-size: 12px;
    }
    #otzyv .swiper-slide h5 {
        margin-left: -81px;
    }
    #otzyv .swiper-slide h3 {
        margin-top: -118px;
    }
    #otzyv .swiper-slide h3 {
        margin-left: -106px;
    }
    #voprosy .voprosy-_vy-_li {
        top: 699.5%;
    }
    #voprosy .voprosy-_svg-_alt {
        top: 709.68%;
    }
    #voprosy .voprosy-_group-_img {
        top: 718.6%;
    }
    #voprosy .voprosy-_est-_group {
        top: 735%;
    }
    #voprosy .voprosy-_li-_img {
        top: 744.81%;
    }
    #atlant .button {
        width: 91%;
        margin-left: 5%;
    }
}
@media (max-width: 992px) {
    #block .block-_svg-_number {

        padding: 27px 0;
        margin-left: -141px;
    }

        #block .block-_svg-_img {
            margin-left: -90px;
            width: 50%;
        }
    #section .section-_text h2 {
        padding: 15px 91px;
    }
    #block .block-_svg-_number {
        margin-left: -205px;
    }
    #section .section-_block-_propan h6 {
        padding: 37px 20px;

    }
    #section .section-_block-_propan h1 {
        margin-left: 19px;
    }
    #section .section-_block-_propan h4 {
        left: 101px;
    }
    #section .section-_block-_propan-_button {
        margin-left: 22px;
    }
    #section .section-_block-_ideal h3 {
        left: 355px;
    }
    #section .section-_block-_ideal-_propana {
        top: 754px;
        left: 370px;
    }
    #section .section-_block-_ideal-_butana {
        top: 754px;
        left: 495px;
    }
    #section .section-_block-_ideal-_butana-_prop {
        left: -245px;
        width: 407px;
    }
    #section .section-_block-_butan h6 {
        margin-left: -55px;
    }
    #section .section-_block-_butan h4 {
        left: 697px;
    }

        #section .section-_block-_butan h4 {
            top: 849px;

        }
    #section .section-_block-_butan h6 {
        margin-left: -267px;
    }
    #section .section-_block-_butan h1 {
        margin-left: -262px;
    }
    #section .section-_block-_butan-_button {
        margin-left: -270px;
    }
    #gazavoz .checked label {
        margin-left: 7%;

    }
    #voprosy .voprosy-_vy-_li {
        top: 700.5%;
    }
    #voprosy .voprosy-_svg-_alt {
        top: 710.68%;
    }
    #voprosy .voprosy-_group-_img {
        top: 721.6%;
    }
    #voprosy .voprosy-_li-_img {
        top: 745.81%;
    }
    #voprosy .voprosy-_est-_group {
        top: 737%;
    }

}
@media (max-width: 768px) {

}